.flex-container {
  display: flex;
  background-color: blue;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}

.flex-container > div {
  font-size: 30px;
  margin:10px;
  padding:20px;
  color: gray;
}

.unselected {
  background-color: white;
}
.selected {
  background-color: red;
}
